body {
    margin: 0;
}
.div1 {
    height: 15vh;
    width: 100%;
    box-sizing: border-box;
    background: gray;
    padding: 25px;
    
}

.nested-div {
    height: 50px;
    width: 50px;
    background: blue;
}

.div2 {
    height: 25vh;
    width: 100%;
    background: white;
}

.div3 {
    height: 15vh;
    width: 100%;
    background: blue;
}

.div4 {
    height: 15vh;
    width: 100%;
    background: teal;
}

.div5 {
    height: 15vh;
    width: 100%;
    background: turquoise;
}

.div6 {
    height: 15vh;
    width: 100%;
    background: yellow;
}